<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>About Expressive Encounters Workshop 2024</h3>
            <div class="row about-details">
                <p align="justify">
                    <big>This Workshop aims to advance the development of real-world applications involving virtual and embodied agents by focusing on generating socially appropriate non-verbal behavior, considering cultural and personal factors, and emphasizing real-time processing for user acceptance and trust.</big>
                </p>
                <p align="justify">
                    <big><b><big>TRACK SCOPES</big></b><br>
                    Our tracks provide a comprehensive exploration of behavior generation for virtual and embodied agents. These tracks focus on developing techniques for real-time non-verbal behavior generation, addressing personal factors such as culture and personality, and deploying gesture generation on real-world embodied agents. Each track offers researchers a platform to collaborate and innovate, bridging disciplines like computer vision, natural language processing, and human-computer interaction to create more socially aware and culturally sensitive agent interactions.
                    <br></big>
                </p>
                <p align="justify">
                    <big><b><big>PRIZES</big></b><br>
                    To be confirmed.
                    </big>
                </p>
                <p align="left"> 
                    <big><b><big>TOPICS</big></b><br>
                    The main suggested topics for the workshop include, but are not limited to:
                    </big>
                </p>
                <ul>
                    <li>Vision, audio, and text-based data processing for gesture generation</li>
                    <li>Vision, audio, and text-based data modelling for culture detection and understanding personality</li>
                    <li>Real-time gesture generation techniques</li>
                    <li>New generative models to model personal factors (e.g., culture, personality)</li>
                    <li>Incorporating culture and personality in generated gestures</li>
                    <li>Gesture generation in small groups</li>
                    <li>Techniques to transfer human-human interactions to human-agent interactions</li>
                    <li>Transfer learning and transformer techniques to apply virtual agents' gestures to reduced degrees of freedom embodied agents</li>
                    <li>Vision, audio, and text-based data modelling techniques for detecting trust and openness of humans towards embodied agents</li>
                </ul>

                <p align="justify">
                <big>The Expressive Encounters Workshop is organized by the members of ... .</big>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
