<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		<!-- <div class="col-md-{{ colWidth }} col-xs-6">
			<h5>Links</h5>
			<ul><li><a href="https://sairlab.github.io/">Social AI & Robotics (SAIR) Laboratory</a></li></ul>
		</div> -->
		<div class="col-md-{{ colWidth }} col-xs-6">
			<h5>Contacts</h5>
			<ul><li><a href="expressiveencountersworkshop2024@googlegroups.com">expressiveencountersworkshop2024@googlegroups.com</a></li></ul>
		</div>
	</div>
	<div class="row">
		<!-- Please don't delete this line-->
		<div class="col-md-6">
			<p class="copyright">
				&copy; 2024 Expressive Encounters Workshop. Theme based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>. 
			</p>
		</div>
	</div>
</footer>
<!-- End Footer -->